.contact {
    padding-bottom: 8em;

    &-card {
        display: grid;
        grid-template-columns: 1fr 6fr;
        align-items: center;
        justify-items: start;
        column-gap: 1em;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 6px;
        border: 2px solid rgba(255, 255, 255, 0.025);
        margin-bottom: 2em;
        padding: 2em;
        color: var(--white);
        text-decoration: none;
        transition: transform .4s ease-in-out;

        &:hover {
            transform: translateY(-6px);
          }

        &-icon {
            padding: 1em;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 10px;
        }

        &-text {
            display: grid;
            row-gap: 0;
            
            a {
                color: var(--bright-green);
                text-decoration: none;
                font-weight: 600;
                font-size: 1.25em;
            }
        }
    }
}