// src/components/Header.scss
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;

      li {
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
