.filters {
    display: none;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(4, auto);
      align-items: center;
      column-gap: 20px;
      margin-top: 90px;

      &-btn {
        position: relative;
        border: none;
        color: var(--white);
        padding: 5px 10px;
        background: rgba($color: black, $alpha: 0.15);
        border-radius: 50px;
        border: 2px solid transparent;
        font-size: 0.75em;
        font-weight: 600;
        box-shadow: none;
        opacity: 1;
        transition: border-color .4s ease 0s;
        cursor: pointer;

        &:hover {
          border-color: var(--bright-green);
        }

        &.selected {
          background: var(--blue);
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }