.footer {
  padding: 1em;
  background-color: var(--blue-dark);
  color: var(--blue);
  font-size: 0.75em;
  bottom: 0;

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    p {
      margin-bottom: 0;
    }
  }
}