body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--blue-dark);
    background: linear-gradient(-45deg, var(--blue), var(--blue-dark), var(--blue), var(--blue-dark));
    background-size: 400% 400%;
    // animation: gradient 25s ease infinite;
    color: var(--white);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.section {
    &-title {
        font-weight: 800;
        font-size: 65px;
        line-height: 72px;
        width: max-content;
        max-width: 100%;
        background: -webkit-linear-gradient(121.57deg, rgb(255, 255, 255) 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 16px;
        padding: 32px 0px 16px;
    }

    &-text {
        font-size: 24px;
        line-height: 40px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 2em;
    }
}

.button-content {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin-bottom: 120px;
}

.primary-btn {
    position: relative;
    border: none;
    color: var(--white);
    padding: 15px 30px;
    background: var(--blue);
    border-radius: 50px;
    border: 2px solid transparent;
    font-size: 1em;
    font-weight: 600;
    box-shadow: none;
    opacity: 1;
    transition: all 0.4s ease 0s;
    cursor: pointer;

    &:hover {
        border-color: var(--bright-green);
        box-shadow: 0 0 2px var(--bright-green), 0 0 4px var(--bright-green), 0 0 6px var(--bright-green), 0 0 8px var(--bright-green);
    }
}

.animation-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120px;

    .hero-image {
        animation: 5s ease 2s infinite alternate none running hero-move;
        z-index: -1;
    }
}

.projects {
    display: flex;
    justify-content: space-between;

    .filters {
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        column-gap: 20px;
        margin-top: 90px;

        &-btn {
            position: relative;
            border: none;
            color: var(--white);
            padding: 5px 10px;
            background: rgba($color: black, $alpha: 0.15);
            border-radius: 50px;
            border: 2px solid transparent;
            font-size: 0.75em;
            font-weight: 600;
            box-shadow: none;
            opacity: 1;
            transition: all 0.4s ease 0s;
            cursor: pointer;

            &:hover {
                border-color: var(--bright-green);
            }

            &.selected {
                background: var(--blue);
                cursor: default;
                pointer-events: none;
            }
        }
    }
}


.social {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;

    a {
        color: #1B4DFF;
        transition: .4s;

        &:hover {
            color: var(--bright-green);
        }
    }
}